services:

  namenode:
    image: apache/hadoop:3.3.5
    container_name: hadoop-namenode
    user: root
    environment:
      - HADOOP_HOME=/opt/hadoop
    volumes:
      - ./hadoop_namenode:/opt/hadoop/data/nameNode
      - ./hadoop_config:/opt/hadoop/etc/hadoop
      - ./start-hdfs.sh:/start-hdfs.sh
    ports:
      - "9870:9870"
    command: [ "/bin/bash", "/start-hdfs.sh" ]

  datanode1:
    image: apache/hadoop:3.3.5
    container_name: hadoop-datanode1
    user: root
    environment:
      - HADOOP_HOME=/opt/hadoop
    volumes:
      - ./hadoop_datanode1:/opt/hadoop/data/dataNode
      - ./hadoop_config:/opt/hadoop/etc/hadoop
      - ./init-datanode.sh:/init-datanode.sh
    depends_on:
      - namenode
    command: [ "/bin/bash", "/init-datanode.sh" ]

  datanode2:
    image: apache/hadoop:3.3.5
    container_name: hadopp-datanode2
    user: root
    environment:
      - HADOOP_HOME=/opt/hadoop
    volumes:
      - ./hadoop_datanode2:/opt/hadoop/data/dataNode
      - ./hadoop_config:/opt/hadoop/etc/hadoop
      - ./init-datanode.sh:/init-datanode.sh
    depends_on:
      - namenode
    command: [ "/bin/bash", "/init-datanode.sh" ]

  feathr-registry-ui:
    image: feathr-ui-and-registry-v1:latest
    container_name: feathr-ui-and-registry
    environment:
      GRANT_SUDO: yes
      REACT_APP_ENABLE_RBAC: "false"
      API_BASE: "api/v1"
      FEATHR_SANDBOX: "1"
      # CONNECTION_STR: "Server=tcp:analytics-postgres,5432;Initial Catalog=analytics;Persist Security Info=False;User ID=postgres;Password=postgres;Encrypt=False;TrustServerCertificate=True;Connection Timeout=30;"
      # pymssql._pymssql.OperationalError: (20009, b'DB-Lib error message 20009, severity 9:\nUnable to connect: Adaptive Server is unavailable or does not exist (analytics-postgres)\nNet-Lib error during Connection refused (111)\nDB-Lib error message 20009, severity 9:\nUnable to connect: Adaptive Server is unavailable or does not exist (analytics-postgres)\nNet-Lib error during Connection refused (111)\n')
    restart: always
    ports:
      - "8081:80"
      - "7080:7080"
      - "8000:8000"

  dev:
    build:
      context: .
      dockerfile: Dockerfile.dev
    platform: linux/amd64
    container_name: pyspark-dev
    volumes:
      - .:/workspace
    depends_on:
      - namenode
